@import "~app/styles/styles";

.rebellionContainer {
	display: flex;
	justify-content: center;
}

.rebellion {
	display: flex;
	flex-wrap: wrap;
  color: $color-text;
	max-width: $application-max-width;
}

.detail {
	min-width: 300px;
	flex-grow: 1;
	margin-left: spacing(5);
	margin-right: spacing(5);

	@media (max-width: $responsive-breakpoint) {
		margin-right: 0;
		margin-left: 0;
	}
}

.events {
	min-width: 300px;
	width: 100%;
}
