@import "~app/styles/styles";

.rebellionContainer {
	display: flex;
	justify-content: center;
}

.rebellion {
	display: flex;
	flex-wrap: wrap;
  color: $color-text;
	max-width: $application-max-width;
}

.detail {
	max-width: 900px;
	min-width: 300px;
	margin-right: spacing(6);

	@media (max-width: $responsive-breakpoint) {
		margin-right: 0;
	}
}

.events {
	max-width: 300px;
}


