@model {SCHEMA_TYPE}

@{
	// This is generated code from the DodoAOT project. DO NOT MODIFY.\r\n
	ViewData["Title"] = "Create A New {NAME}";
}

<div class="container-md">
	<h4 class="title">Create a New {NAME}</h4>
	<div class="row">
		<div class="card" style="width:100%;">
			<div class="card-body">
				<form asp-action="Create">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					{BODY}
					<div class="form-group">
						<div class="card-body">
							<input type="submit" value="Create" class="btn btn-primary btn-block" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
