<nav class="navbar navbar-expand-lg" style="background-color: #22a73d">
	<a class="navbar-brand" href="@Dodo.DodoApp.NetConfig.FullURI">@Dodo.DodoApp.PRODUCT_NAME</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<nav>
			{NAVBAR}
			<div class="nav-item">
				<span class="navbar-text" style="padding-right:1em; padding-left:1em;">
					Logged in as @@@context.User.Slug
				</span>
				<a class="btn btn-outline-light my-2 my-sm-0" href="@Dodo.DodoApp.NetConfig.FullURI/auth/logout">Logout</a>
			</div>
		</nav>
	</div>
</nav>
