@import "~app/styles/styles";

.description {
}

.date {
	color: $color-text-light;
	margin-bottom: spacingXS(4);
}

.events {
	margin-top: spacingXS(6);
}

.event {
	margin-bottom: spacingXS(6);
}

.miniMap {
	height: 250px;
}
