@{
	var applications = ViewData["applications"] as Dictionary<string, Resources.ResourceReference<Dodo.RoleApplications.RoleApplication>>;
	var authManager = (ViewData["auth"] as Dodo.AuthorizationService<{FULL_TYPE}, {SCHEMA_TYPE}>);
}
<div class="card">
	<h5 class="card-header">Applications</h5>
	<div class="card-body">
		@{
			if (applications.Any())
			{
				<div id="accordion">

					@{
						var counter = 0;
						foreach (KeyValuePair<string, Resources.ResourceReference<Dodo.RoleApplications.RoleApplication>>
							kvp in applications)
						{
							Resources.ResourceReference<Dodo.RoleApplications.RoleApplication> app = kvp.Value;
							<div class="card">
								<div class="card-header" id="heading@(counter)">
									<div class="row">
										<div class="col-auto">
											<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse@(counter)" aria-expanded="false" aria-controls="collapse@(counter)">
												totle
											</button>
										</div>
										<div class="col" style="text-align:right;">
											<a class="btn btn-outline-danger" href="@Model.Slug/">
												<p class="fas fa-trash"></p>
											</a>
										</div>
									</div>
								</div>
								<!-- Conversation -->
								<div id="collapse@(counter)" class="collapse" aria-labelledby="heading@counter" data-parent="#accordion">
									<div class="card-body">
										<iframe src="@Dodo.DodoApp.NetConfig.FullURI/roleapplication/@app.Guid" loading="lazy" style="width:100%;height:auto;" />
									</div>
								</div>
							</div>
							counter++;
						}
					}
				</div>
			}
			else
			{
				<div class="alert alert-info" role="alert">
					There haven't been any applications for this role yet. When there are, you will be able to see and respond to them here.
				</div>
			}
		}
	</div>
</div>
