<div class="form-field card">
	<script>
		$(document).ready(function () {
			$('.data-table').DataTable();
		});
	</script>

	<div class="card-header"><h5 class="card-title">{NAME}</h5></div>
	<div class="card-body">
		<table class="list-group data-table">
			<thead>
				<th></th>
			</thead>
			<tbody>
				@{
					@for (var i = 0; i < Model.{MEMBER}.Count; ++i)
					{
						<tr>
							<td>
								{FIELD}
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
		@{
			if (typeof(Resources.IResourceReference).IsAssignableFrom(typeof({TYPE})))
						{
				// Create button!
				string parent = $"?parent={@Model.Slug}";
				<a class="btn btn-light btn-block {REFTYPE}-reference form-field" role="button" target="_blank" href="~/edit/{REFTYPE}/create@(parent)">Create New</a>
			}
		}
	</div>
</div>
