<div class="form-group">
	<label asp-for="{NAME}" class="form-label"></label>
	<div id="epiceditor"><textarea asp-for="{NAME}"></textarea></div>
	<script>
		var editor = new EpicEditor({
			basePath: '/lib/epiceditor', clientSideStorage: false,
			autogrow: { minHeight: "200", maxHeight: "400", scroll: true },
			button: { preview: true, fullscreen: false, bar: "show" },
			theme: { base: '/themes/base/epiceditor.css', preview: '/themes/preview/github.css', editor: '/themes/editor/epic-light.css' },
		}).load();
	</script>
</div>
