<div class="navbar-expand-lg navbar-dark resource-reference {REFTYPE}-reference">
	<button type="button" class="help-button" data-toggle="tooltip" data-html="true" title="@(nameof(Resources.IResourceReference.Parent))">
		<i class="fas fa-question-circle"></i>
	</button>
	<a class="navbar-brand" href="{Dodo.DodoApp.NetConfig.FullURI}/@lowername)/@Model.{prefix}{memberName}.Slug">Part of @Model.{MEMBER}.Name</a>
</div>
