<div class="form-check">
	<input type="checkbox" asp-for="{MEMBER}" class="form-check-input"></input>
	<label class="form-check-label">Published</label>
	<span asp-validation-for="{MEMBER}" class="text-danger"></span>
	<small id="helpBlock" class="form-text text-muted">
		This indicates whether or not this is publicly viewable by all users.
	</small>
	@{
		if (!Model.{MEMBER})
		{
		<div class="alert alert-warning" role="alert">
			This is not yet published, so it won't show up in search results or be visible to non-administrators.
		</div>
		}
	}
</div>
