@import "~app/styles/styles";

.parentLink {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	margin: 0;
	padding: spacingXS(4);
	background-color: $extinction-rebellion-green;
	text-decoration: none;
	color: inherit;

	::after {
		content: "";
		background-image: url("../../../../static/xr-logo.svg");
		background-repeat: no-repeat;
		background-size: 20%;
		opacity: 0.1;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
	}
}

.intro {
	opacity: 0.2;
	text-decoration: none;
	color: inherit
}

.parentName {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: start;
}
