@import "~app/styles/styles";

.dialogHeaderOuter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid $color-light-grey;
}
.dialogHeader {
	padding: spacingXS(2.5) 0 spacingXS(1) spacingXS(6);
}
