@import "~app/styles/styles";

.dialogHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: spacingXS(2) 0 spacingXS(2) spacingXS(6);
	border-bottom: 1px solid $color-light-grey;
}
