@import "~app/styles/styles";

.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: $extinction-rebellion-green;
	padding: spacingXS(10) spacing(2) spacing(2);


	@media (min-width: $responsive-breakpoint) {
		padding: 0;
		flex-direction: row;
	}
}

.headerRight {
	display: flex;
	flex-direction: column;
}

.headerLeft {
	padding-bottom: spacing(2);

	@media (min-width: $responsive-breakpoint) {
		padding: spacingXS(8) spacingXS(10) spacingXS(10);
	}
}