@model Dodo.ViewModels.RoleViewModel;

@{
	// This is generated code from the DodoAOT project. DO NOT MODIFY.\r\n
	ViewData["Title"] = "Edit Role";
	Dodo.AccessContext context = (Dodo.AccessContext)ViewData["Context"];
	Resources.EPermissionLevel permissionLevel = (Resources.EPermissionLevel)ViewData["Permission"];
	System.TimeZoneInfo Timezone = (System.TimeZoneInfo)ViewData["Timezone"];
	var notifications = (ViewData["notifications"] as IEnumerable<Dodo.Notification>);
}

<script>
$(function () {
	$('[data-toggle="tooltip"]').tooltip()
})

</script>


<ul class="nav nav-tabs" id="myTab" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Edit Details</a>
	</li>
	@if (typeof(Dodo.Users.Tokens.INotificationResource).IsAssignableFrom(Model.__Type))
	{
		<li class="nav-item">
			<a class="nav-link" id="notifications-tab" data-toggle="tab" href="#notifications" role="tab" aria-controls="notifications" aria-selected="false">Notifications</a>
		</li>
	}
	@if (typeof(Dodo.IAdministratedResource).IsAssignableFrom(Model.__Type))
	{
		<li class="nav-item">
			<a class="nav-link" id="admin-tab" data-toggle="tab" href="#admin" role="tab" aria-controls="admin" aria-selected="false">Administration</a>
		</li>
	}
	<li><a class="nav-link active" href="@Dodo.DodoApp.NetConfig.FullURI/Role/@Model.Slug" target="_blank">View</a></li>
</ul>
<div class="tab-content" id="myTabContent">
	<div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
		<div class="card" style="width:100%;">
			<div class="card-body">
				<form asp-action="Edit">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
									@{ var rscColor = @Dodo.APIController.TypeDisplayColors[Model.Parent.GetRefType()]; }
				<div class="navbar navbar-expand-lg navbar-dark" style="width=100%; background-color:#@rscColor; margin:-20px; margin-bottom:20px;">
				<a class="navbar-brand" href="https://localhost:5001/@Model.Parent.GetRefType().Name/@Model.Parent.Slug">Part of the @Model.Parent.Name</a>
				</div>
				<div class="form-check">
					<input type="checkbox" asp-for="IsPublished" class="form-check-input"></input>
					<label asp-for="IsPublished" class="form-check-label"></label>
					<span asp-validation-for="IsPublished" class="text-danger"></span>
					<small id="helpBlock" class="form-text text-muted">
						This indicates whether or not this is publicly viewable by all users.
					</small>
				</div>
				<div class="form-group">
					<label asp-for="Name" class="control-label"></label>
					<input  asp-for="Name" class="form-control"></input>
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Slug" class="control-label"></label>
					<input  readonly asp-for="Slug" class="form-control"></input>
					<span asp-validation-for="Slug" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Guid" class="control-label"></label>
					<input  readonly asp-for="Guid" class="form-control"></input>
					<span asp-validation-for="Guid" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Revision" class="control-label"></label>
					<input  readonly asp-for="Revision" class="form-control"></input>
					<span asp-validation-for="Revision" class="text-danger"></span>
				</div>
				<div class="form-group">
				<label asp-for="PublicDescription" class="control-label"></label>
				<textarea style="height:20em;" asp-for="PublicDescription" class="form-control"></textarea>
				</div>
				<div class="form-group">
				<label asp-for="QuestionString" class="control-label"></label>
				<textarea style="height:20em;" asp-for="QuestionString" class="form-control"></textarea>
				</div>

					<div class="form-group">
						<input type="submit" value="Save" class="btn btn-primary btn-block" />
					</div>
				</form>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<div class="alert alert-warning" role="alert">
					<b>Do not</b> use these settings unless you know what you are doing. Contact your Systems Administrator if you are unsure.
				</div>
				<div class="card-body">
					<a href="@Dodo.DodoApp.NetConfig.FullURI/edit/Role/@Model.Slug/delete" class="btn btn-danger btn-lg btn-block">Delete</a>
				</div>
			</div>
		</div>
	</div>
	@if (typeof(Dodo.Users.Tokens.INotificationResource).IsAssignableFrom(Model.__Type))
	{
		<div class="tab-pane fade" id="notifications" role="tabpanel" aria-labelledby="notifications-tab">
			
		</div>
	}
	@if (typeof(Dodo.IAdministratedResource).IsAssignableFrom(Model.__Type))
	{
		<div class="tab-pane fade" id="admin" role="tabpanel" aria-labelledby="admin-tab">
			
		</div>
	}
</div>
