@import "~app/styles/styles";

.login {
	font-size: 1rem;
	font-family: $title-font;
	display: flex;
	align-items: center;
	cursor: pointer;
	position: absolute;
	right: 0;
	padding: spacing(6);
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	:visited {
		color: #000000;
	}
	:hover {
		color: #000000;
	}

	@media (min-width: $responsive-breakpoint) {
		font-size: 1.2rem;
		position: relative;
		padding: 0 spacing(16);
	}
}
