@import "~app/styles/styles";

.siteInfo {
}

.rebellionDescription {
	max-height: 188px;
	overflow: hidden;

	margin-top: spacingXS(4);
	margin-bottom: spacingXS(4);
}

.address {
	margin-top: spacingXS(4);
	margin-bottom: spacingXS(4);
}
