
/.vs/
/lib/Common/bin/
/lib/Common/obj/
/lib/REST/bin/
/bin/
/lib/REST/obj/
/lib/REST/bin/
/src/Dodo/bin/
/src/Dodo/obj/
/src/DodoCmd/obj/
/src/DodoCmd/bin/
/src/DodoKubernetes/bin/
/src/DodoKubernetes/obj/
/test/Dodo.SharedTest/bin/
/test/Dodo.SharedTest/obj/
/test/Dodo.UnitTests/obj/
/test/Dodo.UnitTests/bin/
/test/IntegrationTests/obj/
/test/IntegrationTests/bin/
/packages/
/test/bin/
*.user
/src/DodoKubernetes/logs/
/test/GenerateSampleData/bin/
/test/GenerateSampleData/obj/
