*.suo
/.vs/
/Dodo/bin/
/Dodo/obj/
/OctoberANFormAnalyzer/obj/
/OctoberANFormAnalyzer/bin/
/packages/
/SpreadsheetTools/obj/
/SpreadsheetTools/bin/
/SimpleHttpServer/bin/
/SimpleHttpServer/obj/
/DodoTest/obj/
/DodoTest/bin/
/SimpleHttpServer/bin/
/Dodo/.secret
/DodoCmd/obj/
/DodoCmd/bin/
/TestResults/
/Dodo/config.json
/Common/obj/
/SimpleHttpServer/obj/
/SimpleHttpServer/obj/
/Heartbeat/bin/
/Heartbeat/obj/
/Heartbeat/heartbeatconfig.json
/DodoLegacy/obj/
/DodoLegacy/obj/
/bin/Debug/logs/
/bin/Debug/config.json
/AutoWiki/bin/
/AutoWiki/obj/
/wiki/
/bin/
*.user
