@import "~app/styles/styles";

.inputWrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: spacingXS(6);

	@media (min-width: $responsive-breakpoint) {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	label {
		margin-bottom: spacing(2);

		@media (min-width: $responsive-breakpoint) {
			flex-basis: 0;
			flex-grow: 3;
			margin-bottom: 0;
		}
	}

	input {
		border-radius: 4px;
		font-size: 1rem;
		line-height: 32px;
		padding-left: 8px;
		width: 100%;
	}

	::placeholder {
		color:grey;
		font-size:.8rem;
	}

	.fieldWrapper {
		@media (min-width: $responsive-breakpoint) {
			flex-basis: 0;
			flex-grow: 7;
		}
	}
}

.message {
	margin-top: spacing(1);
}

.error {
	color: red;
	border-color: red;
}
