@model Dodo.Users.PasswordResetModel

@{
    ViewData["Title"] = "Reset Your Password";
}

<h1>Reset Your Password</h1>

<hr />
<div class="row">
    <div class="col">
		<form method="post" asp-action="SubmitPasswordReset">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label class="control-label">New Password</label>
				<input type="password" asp-for="NewPassword" class="form-control" />
				<span asp-validation-for="NewPassword" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">Confirm Password</label>
				<input type="password" asp-for="NewPasswordConfirm" class="form-control" />
				<span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
			</div>
			<div class="form-group sr-only">
				<label asp-for="Token" class="control-label"></label>
				<input asp-for="Token" class="form-control" readonly />
				<span asp-validation-for="Token" class="text-danger"></span>
			</div>
			<small>
				Password must be between 8-64 characters, contain at least 1 symbol, and only contain alphanumeric (numbers and letters) characters and underscores (_)
			</small>
			<div class="form-group">
				<input type="submit" value="Reset " class="btn btn-primary btn-block" />
			</div>
		</form>
    </div>
</div>
