@import "~app/styles/styles";

$text-area-min-height: 250px;

.role {
	padding: spacingXS(4);

	@media (min-width: $responsive-breakpoint) {
		padding: spacingXS(5);
	}
}

.textArea {
	margin: spacing(2) 0;
	width: 100%;
	min-height: $text-area-min-height;
}

.signUpButton {
	padding: 0;
}