@import "~app/styles/styles";

$text-area-min-height: 250px;

.role {
	padding: spacingXS(4);

	@media (min-width: $responsive-breakpoint) {
		padding: spacingXS(5);
	}
}

.textArea {
	margin: spacing(2) 0;
	width: 100%;
	min-height: $text-area-min-height;
}

.signUpButton {
	padding: 0;
}

.applicationFrame {
	overflow: hidden;
	height:50em;
	width:100%;
	max-width:50em;
	padding: spacingXS(3);
	border-style: none;
}

.applicationFrameContainer
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.confirmEmail {
	background-color: $warning-yellow;
	text-align: center;
	padding: spacingXS(3);
}

.resendEmailButton {
	display: block;
	margin: spacingXS(3) auto 0;
}
