.admin-container {
	margin-top: 1em;
}

.admin-messages {
	color: white;
	background-color: black;
	font-family: Consolas, 'Courier New';
	height: 80vh;
	overflow: scroll;
	padding: 10px;
}

#consolecontainer {
	width: 600px;
}

@media (max-width: 768px) {
	#consolecontainer {
		width: 100%;
	}
}

	#consolecontainer > .card-body {
		padding: 0;
		padding-top: 10px;
		padding-bottom: 10px;
	}

.form {
	margin-left: 0;
	margin-top: 5px;
}

#help > .card-body > code {
	color: black;
	display: block;
	background-color: #00000022;
	margin: -10px;
	margin-bottom: 15px;
	padding: 10px;
}

	#help > .card-body > code > p {
		margin-bottom: 0;
	}
