@import "~app/styles/styles";

.searchByLocation {
	margin-bottom: spacingXS(4);
	opacity: 0.5;
	margin-left: spacingXS(5);
	font-size: 1rem;
	padding: spacingXS(4) spacing(2) 0;

	svg {
		width: spacingXS(5);
		height: spacingXS(7);
	}
}

