@import "~app/styles/styles";

.tickBox {
	display: flex;
	flex-direction: row;
	margin-bottom: spacingXS(6);
	align-items: center;

	.label {
		flex-basis: 0;
		flex-grow: 1;
	}

	.box {
		justify-content: flex-start;
		flex-basis: 0;
		flex-grow: 0;
	}

	.message {
		justify-content: flex-start;
		margin-left: spacing(3);
		flex-basis: 0;
		flex-grow: 1;
	}

	input {
		margin: 0;
		zoom: 1.8;
		cursor: pointer;
	}

	&.withMessage {
		.box {
			justify-content: flex-start;
			flex-basis: 0;
			flex-grow: 0;
		}
	}
}


