@import "~app/styles/styles";

.button {
	display: flex;
	padding: spacing(3) spacing(6);
	line-height: 1.2;
	cursor: pointer;
	text-decoration: none;
	border-radius: 4px;
	align-items: center;
}

.link {
	color: inherit;
	display: inherit;
	text-decoration: inherit;
	background: inherit;
	border: none;
	padding: 0;
	margin: inherit;
	align-items: center;
}

.primary {
	background-color: $color-primary;
	border: solid 1px $color-primary;
	color: white;
}

.cta {
	display:flex;
	flex-direction: column;
	width: 100%;
	background: $extinction-rebellion-green;
	padding: spacing(6) spacing(5) spacing(5);
	h1 {
		font-size: 2rem;
	}
}

.outline {
	background-color: white;
	color: $color-secondary;
	border: solid 1px $color-secondary;
}

.outlinePrimary {
	background-color: white;
	color: $color-primary;
	border: solid 1px $color-primary;
}
