@import "~app/styles/styles";

.options {
	margin-top: spacing(3);
	font-family: "fucxed_capsregular";

	li {
		 box-shadow: $standard-box-shadow;
		 margin-bottom: 2px;
	 }
	a {
		display: flex;
		padding: spacing(3) spacing(6);
		justify-content: flex-end;
		text-decoration: none;
		color: black;
	}
}