@import "~app/styles/styles";

@font-face {
  font-family: "fucxed_capsregular";
  src: url("./styles/fonts/fucxedcaps-v2-webfont.woff2") format("woff2"),
  url("./styles/fonts/fucxedcaps-v2-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.app {
  background: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-family:  $title-font;
}
