@model Dodo.ViewModels.WorkingGroupViewModel;

@{
	// This is generated code from the DodoAOT project. DO NOT MODIFY.\r\n
	ViewData["Title"] = "Edit Working Group";
	Dodo.AccessContext context = (Dodo.AccessContext)ViewData["Context"];
	Resources.EPermissionLevel permissionLevel = (Resources.EPermissionLevel)ViewData["Permission"];
	System.TimeZoneInfo Timezone = (System.TimeZoneInfo)ViewData["Timezone"];
}



<h4 class="title">Edit Working Group</h4>
<div class="row">
	<div class="card" style="width:100%;">		
		<div class="card-body">
			<form asp-action="Edit">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="Guid" class="control-label"></label>
					<input  readonly asp-for="Guid" class="form-control"></input>
					<span asp-validation-for="Guid" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Name" class="control-label"></label>
					<input  asp-for="Name" class="form-control"></input>
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Slug" class="control-label"></label>
					<input  asp-for="Slug" class="form-control"></input>
					<span asp-validation-for="Slug" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Revision" class="control-label"></label>
					<input  readonly asp-for="Revision" class="form-control"></input>
					<span asp-validation-for="Revision" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="PublicDescription" class="control-label"></label>
					<textarea  asp-for="PublicDescription" class="form-control"></textarea>
					<span asp-validation-for="PublicDescription" class="text-danger"></span>
				</div>
				<div class="card">
					<h5 class="card-title">AdministratorData</h5>
						<div class="card-body">
						@foreach(var admin in Model.AdministratorData.Administrators) {
							<div class="card">
							</div>
						}
						</div>
				</div>
				<div class="form-group">
					<label asp-for="MemberCount" class="control-label"></label>
					<input  readonly asp-for="MemberCount" class="form-control"></input>
					<span asp-validation-for="MemberCount" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="PublicKey" class="control-label"></label>
					<input  readonly asp-for="PublicKey" class="form-control"></input>
					<span asp-validation-for="PublicKey" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="IsPublished" class="control-label"></label>
					<input  asp-for="IsPublished" class="form-control"></input>
					<span asp-validation-for="IsPublished" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label class="control-label">Parent</label>
					<input class="sr-only" asp-for="Parent.Type"/>
					<a class="btn btn-primary" role="button" href="../../@Model.Parent.Type/@Model.Parent.Slug">@Model.Parent.Name</a>
				</div>

				<div class="form-group">
					<input type="submit" value="Save" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="card" style="width:100%;">		
		<div class="card-body">
			@{foreach (var notification in (ViewData["notifications"] as IEnumerable<Dodo.Notification>))
			{
				<div class="card" style="width:100%;">
					<div class="card-body">
						<p>	@notification.Message </p>
						<p> TimeZoneInfo.ConvertTimeFromUtc(notification.Timestamp.ToUniversalTime(), Timezone) </p>
						@if(notification.CanDelete)
						{
							<a href="#" class="btn btn-primary">Delete</a>
						}
					</div>
				</div>
			}}
		</div>
	</div>
</div>

<div class="row">
	<div class="card" style="width:100%;">		
		<div class="card-body">
			<form asp-action="Delete">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<a href="@Model.Slug/delete" class="btn btn-danger">Delete</a>
			</form>
		</div>
	</div>
</div>

<div>
	<a href="../../WorkingGroup/@Model.Slug">View Working Group</a>
</div>

