@import "~app/styles/styles";

.resource {
	justify-content: space-between;
	display: flex;
	color: black;
	text-decoration: none;
	padding: spacing(2);
	box-shadow: $standard-box-shadow;
}

.icon {
 opacity: 0.2;
}
