@import "~app/styles/styles";

.resource {
	align-items: center;
	justify-content: space-between;
	display: flex;
	color: black;
	text-decoration: none;
	padding: spacing(2);
	box-shadow: $standard-box-shadow;
	width: 100%;
}

.icon {
	opacity: 0.5;
	margin-left: spacing(1);
}

.bell {
	opacity: 0.5;
	margin-left: auto;
	margin-right: spacing(1);
}

.edit {
	flex: 0;
	margin-left: spacing(1);
}
