@import "~app/styles/styles";

.tree {
	width: 100%;

	&.child {
		padding-left: spacing(5);
	}

	li {
		display: flex;
		margin-top: spacing(2);
		width: 100%;

		&:first-child {
			margin-top: 0;
		}

		&.hidden {
			display: none;
		}
	}
}

.button {
	border: 0;
	cursor: pointer;
	padding: spacing(2);
	margin: 0 spacing(1) 0 0;

	&:disabled {
		cursor: not-allowed;
		background-color: $color-light-grey;
		color: $color-text-light;
	}
}


