@model Dodo.ViewModels.LocalGroupViewModel;

@{
	// This is generated code from the DodoAOT project. DO NOT MODIFY.\r\n
	ViewData["Title"] = "Delete Local Group";
}

<script>
	function validateForm() {
		var x = document.getElementById("nameConfirm").value;
		if (x != "@Model.Name") {
			alert("Name was incorrect");
			return false;
		}
	}
</script>

<h1>Delete Local Group</h1>

<div>
	<form runat="server" asp-action="Delete">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<label asp-for="Guid" class="control-label"></label>
			<input readonly asp-for="Guid" class="form-control" />
			<span asp-validation-for="Guid" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Name" class="control-label"></label>
			<input readonly asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label class="control-label">Confirm</label>
			<input class="form-control" id="nameConfirm" />
		</div>
		<input type="submit" OnClientClick="return validateForm()" value="Delete" class="btn btn-danger" /> |
	</form>
</div>
