@model Dodo.ViewModels.LocalGroupViewModel;

@{
	// This is generated code from the DodoAOT project. DO NOT MODIFY.\r\n
	ViewData["Title"] = "Delete Local Group";
}

<script>
	function validateForm() {
		var result = prompt('Are you absolutely sure you want to delete this object? To confirm, please enter the following (case sensitive): "@(Model.Slug)"');
		if (result == '@(Model.Slug)')
			return true;
		alert('Deletion cancelled');
		return false;
	}
</script>

<div class="container-md">
	<h1>Delete Local Group</h1>

	<div>
		<form id="deleteForm" onsubmit="return validateForm();" asp-action="Delete">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Guid" class="control-label"></label>
				<input readonly asp-for="Guid" class="form-control" />
				<span asp-validation-for="Guid" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input readonly asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<input type="submit" value="Delete" class="btn btn-danger btn-block" />
		</form>
	</div>
</div>
