@import "~app/styles/styles";

.resource {
	margin-bottom: spacingXS(10);
}

.descriptionContainer {
	padding: spacing(2) spacing(2);

	@media (min-width: $responsive-breakpoint) {
		display: flex;
	}
}

.panelsContainer {
	@media (min-width: $responsive-breakpoint) {
		display: flex;
		flex-grow: 2;
		flex-basis: 0;
		flex-direction: column;
	}
}

.adminbutton {
	text-align:center;
	margin:auto;
	margin-bottom:10px;
	margin-top:10px;
	max-width:500px;
	height:50px;
	display: block;
	padding: 14px;
	background-color: $extinction-rebellion-green;
	font-family: $title-font;
	z-index: 9999;
	font-size:16px;
	text-decoration: none;
	color: black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

