@import "~app/styles/styles";

.resource {
	margin-bottom: spacingXS(10);
}

.descriptionContainer {
	padding: spacing(2) spacing(2);

	@media (min-width: $responsive-breakpoint) {
		display: flex;
	}
}
