@import "~app/styles/styles";

.linksBox {
	flex-grow: 1;
	flex-basis: 25%;

	@media (min-width: $responsive-breakpoint) {
		padding-right: spacingXS(20);
	}
}


.links {
	list-style: none;
	padding: 0;
	margin: 0;


	li {
		margin-bottom: spacing(2);
	}
}