@import "~app/styles/styles";

.linksBox {
	flex-grow: 1;
	flex-basis: 25%;
	padding-right: spacing(20);
}


.links {
	list-style: none;
	padding: 0;
	margin: 0;


	li {
		margin-bottom: spacing(3);
	}
}