@import "~app/styles/styles";

.linksBox {
	white-space: nowrap;

	@media (min-width: $responsive-breakpoint) {
		padding-right: spacing(10);
	}
}


.links {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		margin-bottom: spacingXS(2);
	}

	a {
		color: $color-light-grey;
	}
}
