@import "~app/styles/styles";

.footer {
	padding: 0 spacingXS(4);
	display: flex;
	flex-direction: column;
	max-width: $application-max-width;
	margin-bottom: spacingXS(20);

	@media (min-width: $responsive-breakpoint) {
		display: flex;
		padding: 0 spacingXS(13);
		flex-direction: row;
	}
}

.footerContainer {
	display: flex;
	justify-content: center;
}