@import "~app/styles/styles";



.searchBar {
  min-width: 250px;
  padding-bottom: spacing(5);
  width: 100%;

  @media (min-width: $responsive-breakpoint) {
    min-width: 450px;
    margin-left: spacing(5);
  }
}