@import "~app/styles/styles";

.searchBar {
	min-width: 250px;
	width: 100%;

	@media (min-width: $responsive-breakpoint) {
		min-width: 450px;
		margin-left: spacing(5);
	}

	@include input-stop-expansion;
}
