@import "~app/styles/styles";

.countdown {
	display: flex;
	flex-direction: column;
	opacity: 0.5;
	white-space:pre;
	@media (min-width: $responsive-breakpoint) {
		padding: 0 spacingXS(10);
		opacity: 1;
		align-items: flex-end;
		text-align: right;
	}
}
