@import "~app/styles/styles";

.logoContainer {
  max-width: 180px
}

.logo {
  width: 140px;
  padding-bottom: spacing(5);

  @media (min-width: $responsive-breakpoint) {
    margin-left: spacing(5);
  }
}
