@import "~app/styles/styles";

.logoContainer {
	max-width: 180px;
}

.logo {
	width: 140px;
	margin-bottom: spacing(4);

	@media (min-width: $responsive-breakpoint) {
		margin-left: spacing(5);
		margin-bottom: 0;
	}
}
