$font-size: 1rem;
$responsive-breakpoint: 760px;

$xsmall-spacing-unit: 3px;
$small-spacing-unit: 5px;

@function spacing($multiple, $unit: $xsmall-spacing-unit) {
	$result: $multiple * $unit;
	@return $result;
}

@function spacingSmall($multiple, $unit: $small-spacing-unit) {
	$result: $multiple * $unit;
	@return $result;
}

$application-max-width: 1140px;

$color-secondary: #6558f5;
$color-primary: #207868;
$color-text-dark: #212121;
$color-text: #212121;
$color-text-light: #6a6a6a;
$color-dark-grey: #4b5c6b;
$color-light-grey: #dfe6ed;
$extinction-rebellion-green: #22A73D;
$error-red: red;
$warning-yellow: #FFC113;

$standard-box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.25);

$title-font: "fucxed_capsregular";

$xr-logo: url("../../static/xr-logo.svg");
