<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Dodo - @ViewBag.Title</title>
	<link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		@RenderBody()
	</div>
</body>
</html>
