@import "~app/styles/styles";

.mobile {
	padding: spacing(8) spacing(10) spacing(10);

	@media (min-width: $responsive-breakpoint) {
		display: none;
	}
}

.desktop {
	display: none;

	@media (min-width: $responsive-breakpoint) {
		display: flex;
		flex-grow: 1;
	}
}

.button {
	width: 100%;
	margin-bottom: spacing(4);
	font-size: 1.2rem;
}
