@import "~app/styles/styles";

.mobile {
	padding: spacingXS(4) spacing(2) 0;
	display: flex;
	flex-grow: 0.5;

	@media (min-width: $responsive-breakpoint) {
		display: none;
	}
}

.desktop {
	display: none;

	@media (min-width: $responsive-breakpoint) {
		display: flex;
		flex-grow: 1;
		align-items: center;
	}
}

.button {
	width: 100%;
	margin-bottom: spacingXS(4);
	opacity: 0.5;
	margin-left: spacingXS(5);
	font-size: 1rem;

	svg {
		width: spacingXS(5);
		height: spacingXS(7);
		margin-right: spacing(2);
	}
}
