@import "~app/styles/styles";

.header{
	display: flex;
	flex-direction: column;
	margin-bottom: spacing(8);

	@media (min-width: $responsive-breakpoint) {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding-bottom: spacing(7);
		margin-left: spacing(2);
		border-bottom: 1px solid black;
		width: 100%;
	}
}