@import "~app/styles/styles";

.tile {
	font-size: 0.6rem;
	line-height: 1.5;
	text-transform: uppercase;
	width: 85px;
	height: 85px;
	margin-right: spacingXS(5);

	@media (min-width: $responsive-breakpoint) {
		font-size: 1rem;
		flex: none;
		width: 100px;
	}
}

.monthDate {
	font-weight: bold;
}
