@import "~app/styles/styles";

.tile {
	font-size: 0.6rem;
	line-height: 1.5;
	padding: 16px;
	text-align: center;
	text-transform: uppercase;
	width: 60px;
	margin-right: spacing(5);

	@media (min-width: $responsive-breakpoint) {
		font-size: 1rem;
		flex: none;
		width: 100px;
	}
}

.monthDate {
	font-weight: bold;
}
