0	Rebellion Support Office	15eVFkBDWfBtnlExyRsWXKnGP5wIRmzZh3NvObDHrhrc
1	Bristol sharing with Wales:	1XxP0hT8LuPYpEKbGd5lLrkMMlpmTZtF2sigPmTRfso4
2	North	1Zl9Tn4t7aK41k8bQMAwf5WkIz10pSZL6B8BVMvpbEoE
3	South West	1rrYmzsgHSyBh-r9H9ZA3JItprclSWU3oIpJ6QKuhchI
4	East of England + Midlands	1BmF78Cb9BztgOr_Ndv5DRNjpWv2b2HinLWKP8yno-3s
5	South East	1gCFNt8ftHMZHtfhbXk1EZowVv0h6U-nIwD0OBGQ0p_s
6	Scotland Sharing with Cumbria and NE (Newcastle)	1UIflTfqGEWHudQ0hSTfiWccCgayVsLaXqWnV9ft3Ktw
7	London A	1O1g7hKEJbwtdyB6HlKt6MzVabIOPMvH4PU_obtwkyTs
8	London B	1Ob9YN-7Ge4qLKaIkJOuOaM8Y80UzsSHiFFTlMdC68C4
9	London C	1PDpPaj5cNNdUGQ74iiT-3AompgceNlW36nyvy6oArGY
10	Animal Rebellion	10FT2IrMpi95Cl7UlCGAMIXcnjBJy3Z_aHFPW6oLAI9A
11	Global Justice	1LXaTeQJQ0j9-T4gjfobeUTPWkr2v5MeDnC8sg7fmdSA
12		1kRVD07vGY3QX9qryD6jbISQkdjE337R3xsF9sKHDmJE
13		1oELohT-TEC2O3qFQHgmZjB9Kv9P5cYVK8FActl7dzf8
14		1iSv3-wyRdQ1rA_Lf8sFd05HirlUPxIqg5tNVTbKUwo0
15		1eA_M4WjLcKl4RN9si0KdgwcewuzNJSgsCNsU_CEAW5s
