@import "~app/styles/styles";

.filter {
	display: flex;
	justify-content: space-between;
	flex-grow: 0.5;
	flex-direction: column;

	 > div {
		 margin-bottom: spacing(5);
	 }

	@media (min-width: $responsive-breakpoint) {
		flex-direction: row;
		padding: spacing(4) spacing(3);

		> div {
			margin-bottom: 0;
			margin-left: spacing(3);
			margin-right: spacing(3);
		}

	}
}
