@import "~app/styles/styles";

.filter {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
	flex-direction: column;

	> div {
		margin-bottom: spacing(7);
	}

	:last-child {
		margin-bottom: 0;
	}

	@media (min-width: $responsive-breakpoint) {
		flex-direction: row;
		margin-bottom: spacing(4);

		> div {
			margin-left: spacing(7);
			margin-right: spacing(7);
		}

		:first-child {
			margin-left: spacing(0);
			margin-right: spacing(0);
		}

		:last-child {
			margin-left: spacing(0);
			margin-right: spacing(0);
		}
	}
}
