@import "~app/styles/styles";

.filter {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
	flex-direction: column;

	 > div {
		 margin-bottom: spacingXS(5);
	 }

	@media (min-width: $responsive-breakpoint) {
		flex-direction: row;
		flex-grow: 0.5;
		padding: spacingXS(4) spacing(2);

		> div {
			margin-bottom: 0;
			margin-left: spacing(2);
			margin-right: spacing(2);
		}

	}
}
