@import "~app/styles/styles";

$social-icons-color: $color-dark-grey;

.buttons {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: spacing(8);
}

.button {
	color: $social-icons-color;
	margin-right: spacing(10);
}