@{
	ViewData["Title"] = "FAQ";
}

<h1>Frequently Asked Questions</h1>

@{
	foreach (string dir in System.IO.Directory.GetDirectories(System.IO.Path.Combine("Content", "FAQ")))
	{
		var cat = System.IO.Path.GetFileNameWithoutExtension(dir);
		<div class="card">
			<h2 class="card-header">@cat</h2>
			<div class="card-body">
				<div class="accordion w-100" id="faq_@cat">
					@{
						foreach (string mdFilePath in System.IO.Directory.GetFiles(dir, "*.md"))
						{
							var name = System.IO.Path.GetFileNameWithoutExtension(mdFilePath);
							var slug = Common.Extensions.ValidationExtensions.StripStringForSlug($"{cat}_{name}");
							var content = Markdig.Markdown.ToHtml(System.IO.File.ReadAllText(mdFilePath));
							<button class="btn btn-link collapsed w-100 text-left" id="heading_@slug" type="button" data-toggle="collapse" data-target="#@slug" aria-expanded="false" aria-controls="@slug">
								<h5>@name?</h5>
							</button>
							<div id="@slug" class="collapse" aria-labelledby="heading_@slug" data-parent="#@slug">
								@Html.Raw(content)
							</div>
						}
					}
				</div>
			</div>

		</div>
	}
}
