<h1>Rebel Agreement</h1>

<p>
	All Rebels are asked to follow our basic agreement. It provides a basis for trust so we and the public
	know what we can expect of each other
</p>

<ol>
	<li>
		We show respect to everyone - to each other, the general public and to the government and
		police.
	</li>
	<li>
		We engage in no violence, physical or verbal.
	</li>
	<li>
		We carry no weapons and wear no masks except for health reasons - we hold ourselves accountable for our actions.
	</li>
	<li>
		We bring no alcohol or illegal drugs to actions.
	</li>
	<li>
		We take responsibility for ourselves, we are all crew.
	</li>
</ol>

<p>
	We are here together until the Government acts on our three demands for necessary action on the
	climate and ecological crisis. This code enables us to attract the many people we need to make this
	possible. Anyone breaking these agreements will be asked to leave.
</p>
