@import "~app/styles/styles";

.userButton {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}

.buttonTitle {
	font-size: 1.2rem;
}

.buttonIcon {
	width: 48px;
	height: 48px;
	margin-right: spacingXS(6);

	@media (min-width: $responsive-breakpoint) {
		margin-right: 0;
	}
}
