@import "~app/styles/styles";

.disabled {
	opacity: 0.5;
	pointer-events: none;
}

.tokenBox {
	margin-bottom: spacing(6);
	color: $extinction-rebellion-green;
	p {
		margin: spacing(1) 0 -2px;
	}
}
