@import "~app/styles/styles";

.listBox {
	padding: 0 spacing(2);
	margin-bottom: spacingXS(5);

	@media (min-width: $responsive-breakpoint) {
		padding: 0 spacingXS(10);
	}
}

.eventList {
	display: flex;
	flex-direction: column;
	box-shadow: $standard-box-shadow;
	padding: 0 spacing(2);

	@media (min-width: $responsive-breakpoint) {
		padding: 0 spacingXS(8) 0;
	}


	li {
		flex-direction: row;
		border-bottom: 1px solid $color-light-grey;
		padding: spacingXS(6) 0 spacing(2);

		@media (min-width: $responsive-breakpoint) {
			padding: spacingXS(7) 0;
			border-bottom: 1px solid $color-light-grey;
		}
	}

	>:last-child {
		border: none;
	}
}

.title {
	padding: 0 spacingXS(5) spacingXS(4);


	@media (min-width: $responsive-breakpoint) {
		padding: spacingXS(4) spacingXS(10) spacingXS(8);
		font-size: 2rem;
	}
}

.button {
	display: flex;
	text-decoration: underline;
	width: 100%;
	justify-content: center;
	color: $color-dark-grey;
	padding: spacingXS(1) spacing(2) spacing(2);
}

.masterList {
	box-shadow: none;
}