@import "~app/styles/styles";

$rebellions-list-background: white;

.wrapper {
	display: flex;
	justify-content: center;
	position: relative;

	@media (min-width: $responsive-breakpoint) {
		margin-top: - spacing(10);
		z-index: 999999999;
	}
}

.eventListContainer {
	display: flex;
	background: $rebellions-list-background;
	flex-direction: column;
	flex-grow: 1;
	min-height: 100px;
	width: 100%;

	@media (min-width: $responsive-breakpoint) {
		border: 1px solid grey;
		position: relative;
		max-width: $application-max-width;
		margin: 0 spacing(7);
	}
}
