@import "~app/styles/styles";

.container {
	flex: 0 0 450px;
	border: 1px solid $color-light-grey;
	padding: spacing(2);
}

.title {
	padding: 0 0 spacing(2);

	@media (min-width: $responsive-breakpoint) {
		padding: 0 0 spacing(2);
		font-size: 1.5rem;
	}
}



