@import "~app/styles/styles";

$header-height: 100px;

.wrapper {
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 999;
	background: $extinction-rebellion-green;
	box-shadow: $standard-box-shadow;

	@media (min-width: $responsive-breakpoint) {
		height: $header-height;
	}

}

.header {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	max-width: $application-max-width;
	flex-grow: 1;
	padding: spacing(7) spacing(4) spacing(3);
}

.headerLeft {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-grow: 1;

	@media (min-width: $responsive-breakpoint) {
		flex-direction: row;
		align-items: center;
	}
}
